<div class="highlighted parallax-container">
  <a class="logo" href="<%= root_url %>">

    <%= image_tag  'materialize/logo.png' %>
    <h6 class="center white-text">a blog engine to express your ideas with material design concepts as well as ruby on rails</h6>
  </a>
  <div class="parallax"><%= image_tag  'materialize/mountain.jpg' %></div>
</div>
