<% @latest=Post.all.order(created_at: :desc).limit(3) %>

<div class="widget widget_latest_post">
  <h4>Latest post</h4>
  <ul>

    <% @latest.each do |latest| %>
        <li>
          <div class="image-wrap">
            <%= image_tag latest.image.url(:thumb)%>
          </div>
          <div class="content-text">
            <a href="#"><%= latest.title %></a>
            <span class="date"><%= latest.created_at.strftime('%d %B,%Y') %></span>
          </div>
        </li>
    <% end %>
  </ul>
</div>