<% @popular=Post.all.order(created_at: :desc).limit(6) %>

<div class="widget widget_instagram">
  <h4>Popular Post</h4>
  <ul class="instagram">
    <% @popular.each do |popular| %>
        <li><a href="#"><%= image_tag popular.image.url(:thumb) %></a></li>
    <% end %>
  </ul>
</div>