<div class="widget widget_tag_cloud">
          <h4>Tag cloud</h4>
          <div class="tagcloud">
            <a href="#">Recipe</a>
            <a href="#">Chicken</a>
            <a href="#">Wordpress</a>
            <a href="#">Photoshop</a>
            <a href="#">JQuery</a>
            <a href="#">Chicken</a>
            <a href="#">Wordpress</a>
            <a href="#">Photoshop</a>
            <a href="#">JQuery</a>
          </div>
        </div>