<% @tags=Category.all %>
<div class="widget widget_tag_cloud">
          <h4>Tag cloud</h4>
          <div class="tagcloud">
            <% @tags.each do |tag| %>
            <a href="#"><%= tag.name %></a>
<% end %>

          </div>
        </div>